.title {
  background-color: cornflowerblue;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 10px 0 10px 10px;
  color: white;
  text-align: center;
  width: 60vw;
  margin: 10px auto;
}
